<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="WebTestingFrameworkSuite" verbose="1" parallel="tests" thread-count="3">
    
    <test name="SampleTests" preserve-order="true">
        <classes>
            <class name="com.example.tests.SampleTest"/>
        </classes>
    </test>
    
    <test name="CoreFunctionalityTests" preserve-order="true">
        <classes>
            <class name="com.example.tests.CoreFunctionalityTest"/>
        </classes>
    </test>
    
</suite>
